
<div class="banner">
  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <!-- arrelgar html para view en phone -->
   <div class="banner-content">
    <h1>JUAN PAREDES</h1>
    <p>Junior Software Engineer</p>
      </div>
    </div>
  </div>
</div>

